.page {
    background-image: url("../assets/backgroundFlip.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    gap: 7vw;
    color: wheat;
    font-weight: 900;

}

.page * {
    color: rgb(120, 159, 243);
    text-decoration: none;
    text-shadow: 10px 10px 5px black;

}


@media only screen and (min-width: 767px) {

    .page {
        background-image: url("../assets/background.jpg");


    }

}