/* .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/about.jpg");
    background-size: cover
}



.container {
    width: 50%;
    height: 50%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;



}


nav {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;




}

nav .btn {
    flex: 1;
    height: 10%;
    border-radius: 15px;
    margin: 0 -1%;
    font-size: 2rem;
    background-color: antiquewhite;




}

.content {
    width: 100%;
    height: 90%;
    color: white;
    display: flex;

}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

.info p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

} */