.page {
    display: flex;
    justify-content: center;

    height: 100vh;
    background-image: url("../assets/about.jpg");
    background-size: cover
}


.header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.filterBar {
    position: fixed;
    width: 10%;
    z-index: 1;
    height: 80%;
    background-color: cornsilk;
    left: 1%;
    top: 11%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 0 0 1%;
}

.market {
    height: 80%;
    border: 1px dashed red;
    flex: 0.7;
    background-color: cornsilk;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 10%;
    overflow: scroll;
    padding: 10px 1% 10px 1%;
}

::-webkit-scrollbar {
    width: 3px;

    background-color: green;
}

::-webkit-scrollbar:horizontal {

    width: 0;
    height: 0;
}