* {
    margin: 0;
    padding: 0;
}



.body {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 95, 20);
    color: lightcyan;
    height: 10vh;
}

::-webkit-scrollbar {
    width: 0;
}

.win {
    background-color: chartreuse;
    text-align: center;
    font-size: 1.2rem;
}

.wait {
    background-color: bisque;
    text-align: center;
    font-size: 1.2rem;
}