.page {
  border: 2px double black;
  border-radius: 5px;
  padding: 5%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
}

.head {
  border-radius: 10px;
  background-color: rgb(81, 142, 235);
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 10% 0 10%;
}

.subsection {
  border-radius: 5px;
  background-color: rgb(81, 142, 235);
  text-align: center;
}

.subContent {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid black;
  padding: 10px;
  gap: 10px;
}

.icon {
  margin-right: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  font-weight: 500;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  padding-left: 2vw;
}

.school {
  font-weight: 900;
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}